@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, dim;
}

@font-face {
  font-family: Montserrat;
  src: url("/assets/font/montserrat-alternates/MontserratAlternates-Medium.ttf")
    format("truetype");
}

@theme {
  --font-montserrat: Montserrat, sans-serif;
}
